@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: treansparent;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:-webkit-any-link {
	text-decoration: none;
	color: #ffffff;
}

.copyrightTxt {
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}

@keyframes hue {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(-360deg);
	}
}

html {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 784px 66px #fff, 1694px 1016px #fff, 685px 1514px #fff, 33px 732px #fff,
		157px 1281px #fff, 1224px 420px #fff, 940px 1909px #fff, 839px 1982px #fff, 1919px 16px #fff,
		1028px 472px #fff, 1255px 175px #fff, 1506px 1428px #fff, 1522px 1683px #fff,
		1921px 1451px #fff, 504px 68px #fff, 1679px 1847px #fff, 555px 1523px #fff,
		1114px 1626px #fff, 1026px 536px #fff, 1985px 1569px #fff, 1187px 1714px #fff,
		920px 1211px #fff, 173px 1170px #fff, 517px 208px #fff, 265px 1193px #fff,
		1343px 1028px #fff, 1677px 1068px #fff, 238px 1336px #fff, 1346px 1654px #fff,
		188px 1722px #fff, 281px 1567px #fff, 1443px 1326px #fff, 341px 1577px #fff,
		1823px 1504px #fff, 503px 8px #fff, 847px 1753px #fff, 651px 1952px #fff, 1139px 1664px #fff,
		850px 710px #fff, 1224px 1906px #fff, 1549px 1087px #fff, 1689px 1349px #fff,
		983px 1703px #fff, 113px 262px #fff, 677px 839px #fff, 794px 1422px #fff, 1115px 90px #fff,
		33px 919px #fff, 1686px 1563px #fff, 237px 1831px #fff, 1494px 1708px #fff, 487px 36px #fff,
		1544px 1921px #fff, 1188px 41px #fff, 133px 967px #fff, 1658px 1143px #fff,
		349px 1980px #fff, 1202px 936px #fff, 8px 362px #fff, 1175px 763px #fff, 1840px 1352px #fff,
		1715px 1631px #fff, 552px 1621px #fff, 50px 1425px #fff, 1757px 292px #fff,
		894px 1590px #fff, 1060px 1322px #fff, 1782px 712px #fff, 1661px 465px #fff,
		590px 574px #fff, 207px 1447px #fff, 672px 47px #fff, 339px 1801px #fff, 812px 1481px #fff,
		1397px 1235px #fff, 303px 1798px #fff, 1822px 1805px #fff, 1416px 539px #fff,
		980px 1296px #fff, 1179px 1787px #fff, 1581px 39px #fff, 518px 894px #fff,
		1348px 1800px #fff, 1851px 321px #fff, 1333px 1813px #fff, 1052px 1376px #fff,
		518px 78px #fff, 1625px 1464px #fff, 191px 1325px #fff, 1231px 1391px #fff,
		1091px 722px #fff, 1518px 1107px #fff, 695px 1796px #fff, 1565px 288px #fff,
		793px 393px #fff, 1405px 1089px #fff, 1395px 557px #fff, 1538px 587px #fff,
		1688px 607px #fff, 44px 1365px #fff, 414px 822px #fff, 708px 668px #fff, 201px 682px #fff,
		1300px 191px #fff, 1820px 700px #fff, 1237px 114px #fff, 1650px 1692px #fff,
		1620px 1364px #fff, 688px 1393px #fff, 1887px 708px #fff, 1208px 1821px #fff,
		860px 266px #fff, 1572px 1631px #fff, 1371px 608px #fff, 781px 1144px #fff,
		1188px 531px #fff, 260px 1368px #fff, 1251px 1894px #fff, 1882px 714px #fff,
		1749px 1049px #fff, 1880px 314px #fff, 1707px 1005px #fff, 1974px 1462px #fff,
		1155px 724px #fff, 218px 1691px #fff, 1203px 1332px #fff, 1707px 939px #fff,
		1715px 1889px #fff, 762px 156px #fff, 175px 1691px #fff, 1409px 574px #fff,
		1899px 1506px #fff, 482px 967px #fff, 1737px 725px #fff, 1230px 1218px #fff, 59px 894px #fff,
		1277px 1203px #fff, 1160px 1013px #fff, 1553px 1105px #fff, 1625px 397px #fff,
		804px 148px #fff, 576px 344px #fff, 1757px 190px #fff, 1383px 113px #fff, 414px 1052px #fff,
		877px 1501px #fff, 186px 703px #fff, 804px 1796px #fff, 1218px 494px #fff, 181px 327px #fff,
		1673px 1968px #fff, 1224px 545px #fff, 160px 524px #fff, 242px 182px #fff, 660px 907px #fff,
		332px 873px #fff, 708px 203px #fff, 1617px 896px #fff, 1016px 1792px #fff, 1844px 701px #fff,
		1734px 1302px #fff, 1339px 1525px #fff, 1866px 1328px #fff, 686px 892px #fff,
		1317px 563px #fff, 1920px 1516px #fff, 365px 832px #fff, 133px 42px #fff, 1140px 1619px #fff,
		975px 1260px #fff, 1679px 671px #fff, 1804px 720px #fff, 1806px 1404px #fff,
		350px 1701px #fff, 1161px 773px #fff, 438px 1775px #fff, 333px 1769px #fff, 31px 930px #fff,
		527px 1757px #fff, 463px 437px #fff, 1602px 592px #fff, 1869px 530px #fff, 1115px 221px #fff,
		1086px 1778px #fff, 27px 1730px #fff, 1795px 1386px #fff, 795px 538px #fff,
		1615px 169px #fff, 736px 1031px #fff, 1173px 1566px #fff, 448px 698px #fff,
		1293px 878px #fff, 1518px 31px #fff, 379px 714px #fff, 1922px 56px #fff, 407px 1031px #fff,
		174px 1986px #fff, 47px 1611px #fff, 121px 1335px #fff, 739px 158px #fff, 706px 1278px #fff,
		998px 880px #fff, 1663px 745px #fff, 765px 1254px #fff, 90px 943px #fff, 4px 1542px #fff,
		87px 1204px #fff, 480px 1423px #fff, 846px 24px #fff, 1390px 521px #fff, 1584px 1606px #fff,
		1581px 1054px #fff, 1645px 1630px #fff, 220px 1145px #fff, 1847px 922px #fff,
		1950px 666px #fff, 733px 126px #fff, 773px 109px #fff, 363px 233px #fff, 1964px 843px #fff,
		1985px 635px #fff, 17px 690px #fff, 1730px 35px #fff, 827px 395px #fff, 899px 928px #fff,
		1754px 218px #fff, 356px 1256px #fff, 1582px 1855px #fff, 466px 33px #fff, 1022px 814px #fff,
		1719px 389px #fff, 283px 125px #fff, 1508px 629px #fff, 1601px 404px #fff, 863px 1399px #fff,
		1169px 623px #fff, 1853px 554px #fff, 1463px 1558px #fff, 218px 939px #fff,
		1128px 413px #fff, 1757px 1488px #fff, 72px 1458px #fff, 846px 1703px #fff, 149px 154px #fff,
		191px 384px #fff, 1600px 1768px #fff, 241px 384px #fff, 1839px 1640px #fff,
		1510px 770px #fff, 1563px 1087px #fff, 1772px 1995px #fff, 1352px 1148px #fff,
		805px 375px #fff, 1529px 1316px #fff, 567px 1902px #fff, 525px 237px #fff, 926px 1381px #fff,
		681px 741px #fff, 1790px 1013px #fff, 1153px 1609px #fff, 1303px 1879px #fff,
		296px 1289px #fff, 276px 469px #fff, 1436px 84px #fff, 1286px 1101px #fff, 973px 1698px #fff,
		678px 833px #fff, 92px 1396px #fff, 913px 164px #fff, 464px 1238px #fff, 576px 1932px #fff,
		871px 1402px #fff, 690px 1116px #fff, 271px 1095px #fff, 1435px 314px #fff,
		1833px 1032px #fff, 536px 1644px #fff, 1835px 1031px #fff, 1041px 153px #fff,
		748px 1934px #fff, 1007px 442px #fff, 1056px 1402px #fff, 1698px 1398px #fff,
		459px 1446px #fff, 896px 1311px #fff, 1488px 778px #fff, 121px 709px #fff, 553px 1848px #fff,
		366px 1842px #fff, 805px 830px #fff, 1548px 1110px #fff, 850px 975px #fff,
		1098px 1088px #fff, 1236px 1048px #fff, 1811px 1381px #fff, 1796px 1628px #fff,
		1130px 145px #fff, 362px 1209px #fff, 445px 68px #fff, 1490px 1830px #fff,
		1620px 1934px #fff, 576px 1829px #fff, 992px 58px #fff, 1110px 935px #fff, 441px 1994px #fff,
		1673px 248px #fff, 520px 981px #fff, 235px 1249px #fff, 1492px 1084px #fff,
		1127px 340px #fff, 1842px 1247px #fff, 1532px 1294px #fff, 136px 332px #fff,
		742px 1052px #fff, 927px 899px #fff, 227px 326px #fff, 1165px 160px #fff, 1822px 1250px #fff,
		951px 1457px #fff, 380px 1531px #fff, 1831px 411px #fff, 171px 1904px #fff,
		1201px 177px #fff, 1055px 722px #fff, 278px 78px #fff, 1106px 1176px #fff,
		1926px 1098px #fff, 1228px 1281px #fff, 456px 517px #fff, 1641px 1654px #fff,
		1205px 337px #fff, 1365px 1787px #fff, 1723px 29px #fff, 1223px 1044px #fff,
		554px 1551px #fff, 1017px 478px #fff, 1687px 1696px #fff, 916px 1511px #fff,
		1301px 861px #fff, 1181px 1379px #fff, 1125px 1540px #fff, 1448px 1788px #fff,
		312px 37px #fff, 1450px 384px #fff, 1861px 218px #fff, 1889px 97px #fff, 1319px 273px #fff,
		1009px 1755px #fff, 1346px 1556px #fff, 1238px 262px #fff, 257px 782px #fff,
		1495px 601px #fff, 1909px 1570px #fff, 1924px 1798px #fff, 506px 434px #fff,
		1262px 1744px #fff, 725px 486px #fff, 197px 652px #fff, 1436px 1664px #fff,
		1347px 1919px #fff, 1860px 1886px #fff, 1633px 1845px #fff, 1220px 108px #fff,
		1063px 190px #fff, 1108px 161px #fff, 925px 1094px #fff, 112px 843px #fff, 841px 899px #fff,
		1057px 215px #fff, 1483px 1744px #fff, 1213px 379px #fff, 492px 1200px #fff,
		1545px 1726px #fff, 1276px 992px #fff, 199px 790px #fff, 552px 656px #fff,
		1367px 1518px #fff, 1544px 370px #fff, 1131px 1579px #fff, 1743px 1008px #fff,
		648px 1992px #fff, 1725px 341px #fff, 93px 460px #fff, 1466px 696px #fff, 574px 480px #fff,
		1713px 1477px #fff, 1696px 67px #fff, 883px 113px #fff, 1378px 1745px #fff,
		1885px 1374px #fff, 366px 545px #fff, 1662px 970px #fff, 1728px 1358px #fff,
		1011px 1786px #fff, 715px 1834px #fff, 333px 781px #fff, 237px 586px #fff, 100px 80px #fff,
		849px 1844px #fff, 1823px 1248px #fff, 1688px 322px #fff, 1245px 1647px #fff,
		1953px 1901px #fff, 757px 154px #fff, 275px 1983px #fff, 1646px 1335px #fff,
		330px 171px #fff, 22px 1937px #fff, 1188px 1844px #fff, 1960px 170px #fff, 841px 316px #fff,
		1740px 1574px #fff, 1304px 145px #fff, 1802px 567px #fff, 1719px 1579px #fff,
		1451px 1148px #fff, 119px 1971px #fff, 359px 730px #fff, 987px 1797px #fff, 44px 42px #fff,
		773px 521px #fff, 877px 985px #fff, 1081px 1171px #fff, 784px 128px #fff, 1957px 374px #fff,
		1562px 1824px #fff, 1446px 425px #fff, 1212px 313px #fff, 1037px 1355px #fff,
		385px 482px #fff, 1340px 1797px #fff, 630px 1185px #fff, 508px 1037px #fff,
		1929px 228px #fff, 1211px 1806px #fff, 1037px 587px #fff, 1602px 35px #fff, 1516px 61px #fff,
		320px 1761px #fff, 1198px 1851px #fff, 2000px 1464px #fff, 113px 291px #fff,
		1869px 379px #fff, 739px 97px #fff, 1838px 300px #fff, 1298px 722px #fff, 1068px 7px #fff,
		1052px 524px #fff, 754px 1114px #fff, 604px 1017px #fff, 638px 314px #fff, 950px 1494px #fff,
		569px 220px #fff, 403px 1671px #fff, 1158px 3px #fff, 307px 666px #fff, 518px 292px #fff,
		1701px 396px #fff, 1680px 1101px #fff, 1907px 930px #fff, 485px 314px #fff,
		864px 1985px #fff, 601px 368px #fff, 393px 357px #fff, 11px 906px #fff, 1689px 1177px #fff,
		156px 1190px #fff, 1155px 205px #fff, 1593px 1142px #fff, 1344px 425px #fff,
		1581px 1136px #fff, 809px 1619px #fff, 26px 687px #fff, 876px 536px #fff, 7px 828px #fff,
		70px 336px #fff, 1637px 760px #fff, 1720px 1347px #fff, 103px 467px #fff, 101px 420px #fff,
		872px 246px #fff, 43px 681px #fff, 856px 1757px #fff, 831px 1684px #fff, 1137px 1451px #fff,
		1969px 980px #fff, 1162px 438px #fff, 1613px 259px #fff, 1488px 1205px #fff,
		1513px 356px #fff, 600px 1714px #fff, 301px 1417px #fff, 1866px 86px #fff, 1654px 522px #fff,
		1144px 1226px #fff, 920px 1792px #fff, 1365px 1099px #fff, 277px 1566px #fff,
		962px 1204px #fff, 553px 32px #fff, 1043px 1050px #fff, 939px 1568px #fff, 160px 1714px #fff,
		42px 207px #fff, 668px 472px #fff, 896px 514px #fff, 891px 450px #fff, 684px 1187px #fff,
		1326px 990px #fff, 1818px 200px #fff, 1939px 1880px #fff, 1127px 231px #fff,
		921px 981px #fff, 266px 16px #fff, 812px 1402px #fff, 545px 596px #fff, 1867px 703px #fff,
		142px 1166px #fff, 926px 1663px #fff, 199px 302px #fff, 903px 369px #fff, 1470px 1933px #fff,
		1139px 2px #fff, 1010px 1264px #fff, 1925px 1684px #fff, 1343px 571px #fff,
		1026px 133px #fff, 1636px 236px #fff, 1191px 1795px #fff, 280px 636px #fff,
		1616px 1303px #fff, 810px 1833px #fff, 1586px 1911px #fff, 668px 147px #fff,
		1497px 1665px #fff, 833px 983px #fff, 1069px 1846px #fff, 1984px 366px #fff,
		241px 245px #fff, 6px 1671px #fff, 453px 1608px #fff, 232px 345px #fff, 410px 1988px #fff,
		184px 1187px #fff, 674px 538px #fff, 1282px 539px #fff, 134px 1669px #fff,
		1133px 1634px #fff, 1018px 377px #fff, 1563px 711px #fff, 1315px 1509px #fff,
		1828px 1576px #fff, 317px 340px #fff, 1340px 763px #fff, 1643px 1539px #fff,
		1354px 844px #fff, 1821px 611px #fff, 1504px 1092px #fff, 1226px 172px #fff,
		838px 1548px #fff, 127px 1722px #fff, 1481px 1403px #fff, 513px 1012px #fff,
		811px 1740px #fff, 452px 168px #fff, 1534px 1033px #fff, 6px 42px #fff, 1308px 1181px #fff,
		1654px 976px #fff, 1108px 476px #fff, 966px 1046px #fff, 1560px 1312px #fff,
		1703px 1275px #fff, 706px 560px #fff, 1674px 1181px #fff, 174px 1008px #fff,
		234px 295px #fff, 889px 1701px #fff, 473px 410px #fff, 1324px 286px #fff, 561px 826px #fff,
		83px 1063px #fff, 113px 1734px #fff, 765px 374px #fff, 1662px 700px #fff, 1805px 1778px #fff,
		1514px 1844px #fff, 1041px 947px #fff, 829px 234px #fff, 1281px 1728px #fff,
		1773px 1189px #fff, 1112px 1500px #fff, 886px 1395px #fff, 921px 306px #fff,
		552px 1115px #fff, 1536px 740px #fff, 1214px 777px #fff, 938px 1216px #fff,
		1353px 1243px #fff, 184px 1472px #fff, 851px 567px #fff, 1210px 1092px #fff,
		1497px 1847px #fff, 939px 278px #fff, 862px 1727px #fff, 667px 1324px #fff,
		1878px 1244px #fff, 45px 1689px #fff, 196px 1784px #fff, 1784px 297px #fff,
		506px 1161px #fff, 1272px 247px #fff, 612px 1241px #fff, 716px 30px #fff, 1255px 779px #fff,
		252px 137px #fff, 483px 658px #fff, 98px 995px #fff, 1128px 1189px #fff, 1497px 45px #fff,
		1078px 354px #fff, 1825px 652px #fff, 1254px 606px #fff, 1639px 1929px #fff,
		1158px 948px #fff, 436px 866px #fff, 818px 709px #fff, 439px 1907px #fff, 1616px 281px #fff,
		1734px 615px #fff, 1482px 61px #fff, 865px 1986px #fff, 1184px 1620px #fff, 804px 535px #fff,
		1982px 329px #fff, 1289px 1991px #fff, 1185px 439px #fff, 236px 1691px #fff,
		323px 1091px #fff, 1400px 885px #fff, 1530px 1422px #fff, 606px 531px #fff,
		1707px 313px #fff, 40px 1736px #fff, 1450px 1546px #fff, 1202px 8px #fff, 1571px 1478px #fff,
		792px 686px #fff, 774px 200px #fff, 56px 1800px #fff, 1295px 893px #fff, 1994px 1064px #fff,
		127px 144px #fff, 189px 1228px #fff, 1561px 1759px #fff, 1210px 1676px #fff,
		207px 1757px #fff, 1610px 403px #fff, 843px 1494px #fff, 995px 703px #fff,
		1130px 1402px #fff, 703px 1198px #fff, 1627px 840px #fff, 892px 1447px #fff,
		1599px 539px #fff, 1685px 1996px #fff, 344px 548px #fff, 588px 1157px #fff, 111px 697px #fff,
		820px 1103px #fff, 611px 263px #fff, 1462px 1194px #fff, 584px 461px #fff, 448px 926px #fff,
		1242px 475px #fff, 38px 1580px #fff, 825px 767px #fff, 944px 422px #fff, 569px 629px #fff,
		21px 840px #fff, 803px 1904px #fff, 1802px 993px #fff, 1936px 818px #fff, 296px 1620px #fff,
		490px 534px #fff, 1643px 1609px #fff, 372px 1264px #fff, 1822px 1775px #fff,
		1067px 999px #fff, 1465px 735px #fff, 1561px 359px #fff, 67px 240px #fff, 12px 919px #fff,
		467px 1131px #fff, 545px 1503px #fff, 249px 691px #fff, 1719px 896px #fff,
		1884px 1007px #fff, 164px 1416px #fff, 607px 820px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 784px 66px #fff, 1694px 1016px #fff, 685px 1514px #fff, 33px 732px #fff,
		157px 1281px #fff, 1224px 420px #fff, 940px 1909px #fff, 839px 1982px #fff, 1919px 16px #fff,
		1028px 472px #fff, 1255px 175px #fff, 1506px 1428px #fff, 1522px 1683px #fff,
		1921px 1451px #fff, 504px 68px #fff, 1679px 1847px #fff, 555px 1523px #fff,
		1114px 1626px #fff, 1026px 536px #fff, 1985px 1569px #fff, 1187px 1714px #fff,
		920px 1211px #fff, 173px 1170px #fff, 517px 208px #fff, 265px 1193px #fff,
		1343px 1028px #fff, 1677px 1068px #fff, 238px 1336px #fff, 1346px 1654px #fff,
		188px 1722px #fff, 281px 1567px #fff, 1443px 1326px #fff, 341px 1577px #fff,
		1823px 1504px #fff, 503px 8px #fff, 847px 1753px #fff, 651px 1952px #fff, 1139px 1664px #fff,
		850px 710px #fff, 1224px 1906px #fff, 1549px 1087px #fff, 1689px 1349px #fff,
		983px 1703px #fff, 113px 262px #fff, 677px 839px #fff, 794px 1422px #fff, 1115px 90px #fff,
		33px 919px #fff, 1686px 1563px #fff, 237px 1831px #fff, 1494px 1708px #fff, 487px 36px #fff,
		1544px 1921px #fff, 1188px 41px #fff, 133px 967px #fff, 1658px 1143px #fff,
		349px 1980px #fff, 1202px 936px #fff, 8px 362px #fff, 1175px 763px #fff, 1840px 1352px #fff,
		1715px 1631px #fff, 552px 1621px #fff, 50px 1425px #fff, 1757px 292px #fff,
		894px 1590px #fff, 1060px 1322px #fff, 1782px 712px #fff, 1661px 465px #fff,
		590px 574px #fff, 207px 1447px #fff, 672px 47px #fff, 339px 1801px #fff, 812px 1481px #fff,
		1397px 1235px #fff, 303px 1798px #fff, 1822px 1805px #fff, 1416px 539px #fff,
		980px 1296px #fff, 1179px 1787px #fff, 1581px 39px #fff, 518px 894px #fff,
		1348px 1800px #fff, 1851px 321px #fff, 1333px 1813px #fff, 1052px 1376px #fff,
		518px 78px #fff, 1625px 1464px #fff, 191px 1325px #fff, 1231px 1391px #fff,
		1091px 722px #fff, 1518px 1107px #fff, 695px 1796px #fff, 1565px 288px #fff,
		793px 393px #fff, 1405px 1089px #fff, 1395px 557px #fff, 1538px 587px #fff,
		1688px 607px #fff, 44px 1365px #fff, 414px 822px #fff, 708px 668px #fff, 201px 682px #fff,
		1300px 191px #fff, 1820px 700px #fff, 1237px 114px #fff, 1650px 1692px #fff,
		1620px 1364px #fff, 688px 1393px #fff, 1887px 708px #fff, 1208px 1821px #fff,
		860px 266px #fff, 1572px 1631px #fff, 1371px 608px #fff, 781px 1144px #fff,
		1188px 531px #fff, 260px 1368px #fff, 1251px 1894px #fff, 1882px 714px #fff,
		1749px 1049px #fff, 1880px 314px #fff, 1707px 1005px #fff, 1974px 1462px #fff,
		1155px 724px #fff, 218px 1691px #fff, 1203px 1332px #fff, 1707px 939px #fff,
		1715px 1889px #fff, 762px 156px #fff, 175px 1691px #fff, 1409px 574px #fff,
		1899px 1506px #fff, 482px 967px #fff, 1737px 725px #fff, 1230px 1218px #fff, 59px 894px #fff,
		1277px 1203px #fff, 1160px 1013px #fff, 1553px 1105px #fff, 1625px 397px #fff,
		804px 148px #fff, 576px 344px #fff, 1757px 190px #fff, 1383px 113px #fff, 414px 1052px #fff,
		877px 1501px #fff, 186px 703px #fff, 804px 1796px #fff, 1218px 494px #fff, 181px 327px #fff,
		1673px 1968px #fff, 1224px 545px #fff, 160px 524px #fff, 242px 182px #fff, 660px 907px #fff,
		332px 873px #fff, 708px 203px #fff, 1617px 896px #fff, 1016px 1792px #fff, 1844px 701px #fff,
		1734px 1302px #fff, 1339px 1525px #fff, 1866px 1328px #fff, 686px 892px #fff,
		1317px 563px #fff, 1920px 1516px #fff, 365px 832px #fff, 133px 42px #fff, 1140px 1619px #fff,
		975px 1260px #fff, 1679px 671px #fff, 1804px 720px #fff, 1806px 1404px #fff,
		350px 1701px #fff, 1161px 773px #fff, 438px 1775px #fff, 333px 1769px #fff, 31px 930px #fff,
		527px 1757px #fff, 463px 437px #fff, 1602px 592px #fff, 1869px 530px #fff, 1115px 221px #fff,
		1086px 1778px #fff, 27px 1730px #fff, 1795px 1386px #fff, 795px 538px #fff,
		1615px 169px #fff, 736px 1031px #fff, 1173px 1566px #fff, 448px 698px #fff,
		1293px 878px #fff, 1518px 31px #fff, 379px 714px #fff, 1922px 56px #fff, 407px 1031px #fff,
		174px 1986px #fff, 47px 1611px #fff, 121px 1335px #fff, 739px 158px #fff, 706px 1278px #fff,
		998px 880px #fff, 1663px 745px #fff, 765px 1254px #fff, 90px 943px #fff, 4px 1542px #fff,
		87px 1204px #fff, 480px 1423px #fff, 846px 24px #fff, 1390px 521px #fff, 1584px 1606px #fff,
		1581px 1054px #fff, 1645px 1630px #fff, 220px 1145px #fff, 1847px 922px #fff,
		1950px 666px #fff, 733px 126px #fff, 773px 109px #fff, 363px 233px #fff, 1964px 843px #fff,
		1985px 635px #fff, 17px 690px #fff, 1730px 35px #fff, 827px 395px #fff, 899px 928px #fff,
		1754px 218px #fff, 356px 1256px #fff, 1582px 1855px #fff, 466px 33px #fff, 1022px 814px #fff,
		1719px 389px #fff, 283px 125px #fff, 1508px 629px #fff, 1601px 404px #fff, 863px 1399px #fff,
		1169px 623px #fff, 1853px 554px #fff, 1463px 1558px #fff, 218px 939px #fff,
		1128px 413px #fff, 1757px 1488px #fff, 72px 1458px #fff, 846px 1703px #fff, 149px 154px #fff,
		191px 384px #fff, 1600px 1768px #fff, 241px 384px #fff, 1839px 1640px #fff,
		1510px 770px #fff, 1563px 1087px #fff, 1772px 1995px #fff, 1352px 1148px #fff,
		805px 375px #fff, 1529px 1316px #fff, 567px 1902px #fff, 525px 237px #fff, 926px 1381px #fff,
		681px 741px #fff, 1790px 1013px #fff, 1153px 1609px #fff, 1303px 1879px #fff,
		296px 1289px #fff, 276px 469px #fff, 1436px 84px #fff, 1286px 1101px #fff, 973px 1698px #fff,
		678px 833px #fff, 92px 1396px #fff, 913px 164px #fff, 464px 1238px #fff, 576px 1932px #fff,
		871px 1402px #fff, 690px 1116px #fff, 271px 1095px #fff, 1435px 314px #fff,
		1833px 1032px #fff, 536px 1644px #fff, 1835px 1031px #fff, 1041px 153px #fff,
		748px 1934px #fff, 1007px 442px #fff, 1056px 1402px #fff, 1698px 1398px #fff,
		459px 1446px #fff, 896px 1311px #fff, 1488px 778px #fff, 121px 709px #fff, 553px 1848px #fff,
		366px 1842px #fff, 805px 830px #fff, 1548px 1110px #fff, 850px 975px #fff,
		1098px 1088px #fff, 1236px 1048px #fff, 1811px 1381px #fff, 1796px 1628px #fff,
		1130px 145px #fff, 362px 1209px #fff, 445px 68px #fff, 1490px 1830px #fff,
		1620px 1934px #fff, 576px 1829px #fff, 992px 58px #fff, 1110px 935px #fff, 441px 1994px #fff,
		1673px 248px #fff, 520px 981px #fff, 235px 1249px #fff, 1492px 1084px #fff,
		1127px 340px #fff, 1842px 1247px #fff, 1532px 1294px #fff, 136px 332px #fff,
		742px 1052px #fff, 927px 899px #fff, 227px 326px #fff, 1165px 160px #fff, 1822px 1250px #fff,
		951px 1457px #fff, 380px 1531px #fff, 1831px 411px #fff, 171px 1904px #fff,
		1201px 177px #fff, 1055px 722px #fff, 278px 78px #fff, 1106px 1176px #fff,
		1926px 1098px #fff, 1228px 1281px #fff, 456px 517px #fff, 1641px 1654px #fff,
		1205px 337px #fff, 1365px 1787px #fff, 1723px 29px #fff, 1223px 1044px #fff,
		554px 1551px #fff, 1017px 478px #fff, 1687px 1696px #fff, 916px 1511px #fff,
		1301px 861px #fff, 1181px 1379px #fff, 1125px 1540px #fff, 1448px 1788px #fff,
		312px 37px #fff, 1450px 384px #fff, 1861px 218px #fff, 1889px 97px #fff, 1319px 273px #fff,
		1009px 1755px #fff, 1346px 1556px #fff, 1238px 262px #fff, 257px 782px #fff,
		1495px 601px #fff, 1909px 1570px #fff, 1924px 1798px #fff, 506px 434px #fff,
		1262px 1744px #fff, 725px 486px #fff, 197px 652px #fff, 1436px 1664px #fff,
		1347px 1919px #fff, 1860px 1886px #fff, 1633px 1845px #fff, 1220px 108px #fff,
		1063px 190px #fff, 1108px 161px #fff, 925px 1094px #fff, 112px 843px #fff, 841px 899px #fff,
		1057px 215px #fff, 1483px 1744px #fff, 1213px 379px #fff, 492px 1200px #fff,
		1545px 1726px #fff, 1276px 992px #fff, 199px 790px #fff, 552px 656px #fff,
		1367px 1518px #fff, 1544px 370px #fff, 1131px 1579px #fff, 1743px 1008px #fff,
		648px 1992px #fff, 1725px 341px #fff, 93px 460px #fff, 1466px 696px #fff, 574px 480px #fff,
		1713px 1477px #fff, 1696px 67px #fff, 883px 113px #fff, 1378px 1745px #fff,
		1885px 1374px #fff, 366px 545px #fff, 1662px 970px #fff, 1728px 1358px #fff,
		1011px 1786px #fff, 715px 1834px #fff, 333px 781px #fff, 237px 586px #fff, 100px 80px #fff,
		849px 1844px #fff, 1823px 1248px #fff, 1688px 322px #fff, 1245px 1647px #fff,
		1953px 1901px #fff, 757px 154px #fff, 275px 1983px #fff, 1646px 1335px #fff,
		330px 171px #fff, 22px 1937px #fff, 1188px 1844px #fff, 1960px 170px #fff, 841px 316px #fff,
		1740px 1574px #fff, 1304px 145px #fff, 1802px 567px #fff, 1719px 1579px #fff,
		1451px 1148px #fff, 119px 1971px #fff, 359px 730px #fff, 987px 1797px #fff, 44px 42px #fff,
		773px 521px #fff, 877px 985px #fff, 1081px 1171px #fff, 784px 128px #fff, 1957px 374px #fff,
		1562px 1824px #fff, 1446px 425px #fff, 1212px 313px #fff, 1037px 1355px #fff,
		385px 482px #fff, 1340px 1797px #fff, 630px 1185px #fff, 508px 1037px #fff,
		1929px 228px #fff, 1211px 1806px #fff, 1037px 587px #fff, 1602px 35px #fff, 1516px 61px #fff,
		320px 1761px #fff, 1198px 1851px #fff, 2000px 1464px #fff, 113px 291px #fff,
		1869px 379px #fff, 739px 97px #fff, 1838px 300px #fff, 1298px 722px #fff, 1068px 7px #fff,
		1052px 524px #fff, 754px 1114px #fff, 604px 1017px #fff, 638px 314px #fff, 950px 1494px #fff,
		569px 220px #fff, 403px 1671px #fff, 1158px 3px #fff, 307px 666px #fff, 518px 292px #fff,
		1701px 396px #fff, 1680px 1101px #fff, 1907px 930px #fff, 485px 314px #fff,
		864px 1985px #fff, 601px 368px #fff, 393px 357px #fff, 11px 906px #fff, 1689px 1177px #fff,
		156px 1190px #fff, 1155px 205px #fff, 1593px 1142px #fff, 1344px 425px #fff,
		1581px 1136px #fff, 809px 1619px #fff, 26px 687px #fff, 876px 536px #fff, 7px 828px #fff,
		70px 336px #fff, 1637px 760px #fff, 1720px 1347px #fff, 103px 467px #fff, 101px 420px #fff,
		872px 246px #fff, 43px 681px #fff, 856px 1757px #fff, 831px 1684px #fff, 1137px 1451px #fff,
		1969px 980px #fff, 1162px 438px #fff, 1613px 259px #fff, 1488px 1205px #fff,
		1513px 356px #fff, 600px 1714px #fff, 301px 1417px #fff, 1866px 86px #fff, 1654px 522px #fff,
		1144px 1226px #fff, 920px 1792px #fff, 1365px 1099px #fff, 277px 1566px #fff,
		962px 1204px #fff, 553px 32px #fff, 1043px 1050px #fff, 939px 1568px #fff, 160px 1714px #fff,
		42px 207px #fff, 668px 472px #fff, 896px 514px #fff, 891px 450px #fff, 684px 1187px #fff,
		1326px 990px #fff, 1818px 200px #fff, 1939px 1880px #fff, 1127px 231px #fff,
		921px 981px #fff, 266px 16px #fff, 812px 1402px #fff, 545px 596px #fff, 1867px 703px #fff,
		142px 1166px #fff, 926px 1663px #fff, 199px 302px #fff, 903px 369px #fff, 1470px 1933px #fff,
		1139px 2px #fff, 1010px 1264px #fff, 1925px 1684px #fff, 1343px 571px #fff,
		1026px 133px #fff, 1636px 236px #fff, 1191px 1795px #fff, 280px 636px #fff,
		1616px 1303px #fff, 810px 1833px #fff, 1586px 1911px #fff, 668px 147px #fff,
		1497px 1665px #fff, 833px 983px #fff, 1069px 1846px #fff, 1984px 366px #fff,
		241px 245px #fff, 6px 1671px #fff, 453px 1608px #fff, 232px 345px #fff, 410px 1988px #fff,
		184px 1187px #fff, 674px 538px #fff, 1282px 539px #fff, 134px 1669px #fff,
		1133px 1634px #fff, 1018px 377px #fff, 1563px 711px #fff, 1315px 1509px #fff,
		1828px 1576px #fff, 317px 340px #fff, 1340px 763px #fff, 1643px 1539px #fff,
		1354px 844px #fff, 1821px 611px #fff, 1504px 1092px #fff, 1226px 172px #fff,
		838px 1548px #fff, 127px 1722px #fff, 1481px 1403px #fff, 513px 1012px #fff,
		811px 1740px #fff, 452px 168px #fff, 1534px 1033px #fff, 6px 42px #fff, 1308px 1181px #fff,
		1654px 976px #fff, 1108px 476px #fff, 966px 1046px #fff, 1560px 1312px #fff,
		1703px 1275px #fff, 706px 560px #fff, 1674px 1181px #fff, 174px 1008px #fff,
		234px 295px #fff, 889px 1701px #fff, 473px 410px #fff, 1324px 286px #fff, 561px 826px #fff,
		83px 1063px #fff, 113px 1734px #fff, 765px 374px #fff, 1662px 700px #fff, 1805px 1778px #fff,
		1514px 1844px #fff, 1041px 947px #fff, 829px 234px #fff, 1281px 1728px #fff,
		1773px 1189px #fff, 1112px 1500px #fff, 886px 1395px #fff, 921px 306px #fff,
		552px 1115px #fff, 1536px 740px #fff, 1214px 777px #fff, 938px 1216px #fff,
		1353px 1243px #fff, 184px 1472px #fff, 851px 567px #fff, 1210px 1092px #fff,
		1497px 1847px #fff, 939px 278px #fff, 862px 1727px #fff, 667px 1324px #fff,
		1878px 1244px #fff, 45px 1689px #fff, 196px 1784px #fff, 1784px 297px #fff,
		506px 1161px #fff, 1272px 247px #fff, 612px 1241px #fff, 716px 30px #fff, 1255px 779px #fff,
		252px 137px #fff, 483px 658px #fff, 98px 995px #fff, 1128px 1189px #fff, 1497px 45px #fff,
		1078px 354px #fff, 1825px 652px #fff, 1254px 606px #fff, 1639px 1929px #fff,
		1158px 948px #fff, 436px 866px #fff, 818px 709px #fff, 439px 1907px #fff, 1616px 281px #fff,
		1734px 615px #fff, 1482px 61px #fff, 865px 1986px #fff, 1184px 1620px #fff, 804px 535px #fff,
		1982px 329px #fff, 1289px 1991px #fff, 1185px 439px #fff, 236px 1691px #fff,
		323px 1091px #fff, 1400px 885px #fff, 1530px 1422px #fff, 606px 531px #fff,
		1707px 313px #fff, 40px 1736px #fff, 1450px 1546px #fff, 1202px 8px #fff, 1571px 1478px #fff,
		792px 686px #fff, 774px 200px #fff, 56px 1800px #fff, 1295px 893px #fff, 1994px 1064px #fff,
		127px 144px #fff, 189px 1228px #fff, 1561px 1759px #fff, 1210px 1676px #fff,
		207px 1757px #fff, 1610px 403px #fff, 843px 1494px #fff, 995px 703px #fff,
		1130px 1402px #fff, 703px 1198px #fff, 1627px 840px #fff, 892px 1447px #fff,
		1599px 539px #fff, 1685px 1996px #fff, 344px 548px #fff, 588px 1157px #fff, 111px 697px #fff,
		820px 1103px #fff, 611px 263px #fff, 1462px 1194px #fff, 584px 461px #fff, 448px 926px #fff,
		1242px 475px #fff, 38px 1580px #fff, 825px 767px #fff, 944px 422px #fff, 569px 629px #fff,
		21px 840px #fff, 803px 1904px #fff, 1802px 993px #fff, 1936px 818px #fff, 296px 1620px #fff,
		490px 534px #fff, 1643px 1609px #fff, 372px 1264px #fff, 1822px 1775px #fff,
		1067px 999px #fff, 1465px 735px #fff, 1561px 359px #fff, 67px 240px #fff, 12px 919px #fff,
		467px 1131px #fff, 545px 1503px #fff, 249px 691px #fff, 1719px 896px #fff,
		1884px 1007px #fff, 164px 1416px #fff, 607px 820px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 917px 915px #fff, 1585px 419px #fff, 1292px 969px #fff, 1492px 1438px #fff,
		1263px 1347px #fff, 1465px 481px #fff, 1992px 1218px #fff, 802px 50px #fff, 249px 762px #fff,
		1594px 467px #fff, 1900px 528px #fff, 170px 721px #fff, 1293px 1352px #fff, 536px 537px #fff,
		443px 1019px #fff, 1954px 1896px #fff, 868px 1059px #fff, 1804px 171px #fff,
		162px 688px #fff, 664px 1399px #fff, 495px 1954px #fff, 68px 441px #fff, 1628px 1286px #fff,
		261px 289px #fff, 1076px 1212px #fff, 999px 991px #fff, 1543px 560px #fff,
		1019px 1881px #fff, 1302px 1166px #fff, 1686px 815px #fff, 1730px 1630px #fff,
		1642px 848px #fff, 1434px 125px #fff, 1584px 1859px #fff, 1858px 842px #fff,
		1018px 511px #fff, 1869px 279px #fff, 1037px 591px #fff, 259px 412px #fff,
		1062px 1287px #fff, 238px 1543px #fff, 875px 1992px #fff, 163px 1345px #fff,
		464px 397px #fff, 976px 701px #fff, 836px 704px #fff, 1260px 1398px #fff, 761px 1976px #fff,
		1001px 367px #fff, 419px 286px #fff, 24px 1190px #fff, 939px 1516px #fff, 74px 1335px #fff,
		1085px 1544px #fff, 1912px 1057px #fff, 554px 1205px #fff, 1488px 1427px #fff,
		698px 1743px #fff, 971px 1767px #fff, 827px 1098px #fff, 1465px 293px #fff, 939px 738px #fff,
		897px 1649px #fff, 455px 854px #fff, 886px 1561px #fff, 416px 533px #fff, 305px 654px #fff,
		1255px 566px #fff, 1104px 1025px #fff, 415px 482px #fff, 1307px 1073px #fff,
		1162px 399px #fff, 446px 1084px #fff, 63px 1047px #fff, 1776px 325px #fff, 1354px 218px #fff,
		1977px 1365px #fff, 378px 1280px #fff, 1026px 375px #fff, 285px 343px #fff,
		1194px 1377px #fff, 145px 1021px #fff, 1025px 1403px #fff, 1768px 1611px #fff,
		369px 1003px #fff, 22px 802px #fff, 85px 1494px #fff, 1309px 290px #fff, 402px 1350px #fff,
		1271px 569px #fff, 9px 650px #fff, 742px 1038px #fff, 88px 1496px #fff, 823px 1333px #fff,
		1315px 1807px #fff, 1434px 110px #fff, 491px 124px #fff, 850px 1779px #fff, 885px 743px #fff,
		738px 1670px #fff, 1375px 1152px #fff, 55px 189px #fff, 1254px 1348px #fff,
		1954px 1186px #fff, 990px 1642px #fff, 995px 696px #fff, 468px 19px #fff, 222px 270px #fff,
		1850px 19px #fff, 1965px 1951px #fff, 40px 1561px #fff, 1689px 322px #fff,
		1366px 1862px #fff, 546px 774px #fff, 1981px 223px #fff, 699px 1727px #fff, 546px 379px #fff,
		1649px 1297px #fff, 1014px 207px #fff, 1393px 1614px #fff, 248px 1978px #fff,
		1661px 15px #fff, 312px 1283px #fff, 1244px 1800px #fff, 1992px 1168px #fff,
		669px 422px #fff, 660px 955px #fff, 425px 1797px #fff, 887px 881px #fff, 1430px 769px #fff,
		655px 1296px #fff, 1460px 61px #fff, 811px 676px #fff, 564px 303px #fff, 256px 1341px #fff,
		478px 455px #fff, 1062px 1117px #fff, 401px 58px #fff, 386px 82px #fff, 353px 1642px #fff,
		1340px 1533px #fff, 1561px 1721px #fff, 1537px 959px #fff, 557px 24px #fff, 579px 841px #fff,
		533px 1336px #fff, 35px 36px #fff, 1135px 140px #fff, 997px 1044px #fff, 1277px 846px #fff,
		674px 143px #fff, 1584px 1770px #fff, 1600px 1169px #fff, 687px 332px #fff, 122px 660px #fff,
		1076px 1502px #fff, 292px 1654px #fff, 119px 265px #fff, 1906px 49px #fff, 890px 1501px #fff,
		374px 1986px #fff, 70px 528px #fff, 909px 196px #fff, 1532px 1606px #fff, 132px 1389px #fff,
		1196px 88px #fff, 534px 701px #fff, 982px 821px #fff, 1769px 216px #fff, 39px 1244px #fff,
		835px 558px #fff, 1102px 1049px #fff, 1107px 1216px #fff, 616px 1810px #fff,
		584px 1680px #fff, 1263px 1054px #fff, 687px 271px #fff, 392px 855px #fff, 467px 858px #fff,
		1451px 351px #fff, 1134px 1833px #fff, 1055px 1945px #fff, 1279px 1731px #fff,
		1138px 1421px #fff, 135px 715px #fff, 927px 1427px #fff, 437px 370px #fff, 631px 1760px #fff,
		1414px 487px #fff, 772px 372px #fff, 1398px 122px #fff, 1391px 247px #fff, 683px 1565px #fff,
		187px 1305px #fff, 1193px 394px #fff, 358px 1104px #fff, 1379px 1395px #fff,
		634px 783px #fff, 1352px 1787px #fff, 146px 725px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 917px 915px #fff, 1585px 419px #fff, 1292px 969px #fff, 1492px 1438px #fff,
		1263px 1347px #fff, 1465px 481px #fff, 1992px 1218px #fff, 802px 50px #fff, 249px 762px #fff,
		1594px 467px #fff, 1900px 528px #fff, 170px 721px #fff, 1293px 1352px #fff, 536px 537px #fff,
		443px 1019px #fff, 1954px 1896px #fff, 868px 1059px #fff, 1804px 171px #fff,
		162px 688px #fff, 664px 1399px #fff, 495px 1954px #fff, 68px 441px #fff, 1628px 1286px #fff,
		261px 289px #fff, 1076px 1212px #fff, 999px 991px #fff, 1543px 560px #fff,
		1019px 1881px #fff, 1302px 1166px #fff, 1686px 815px #fff, 1730px 1630px #fff,
		1642px 848px #fff, 1434px 125px #fff, 1584px 1859px #fff, 1858px 842px #fff,
		1018px 511px #fff, 1869px 279px #fff, 1037px 591px #fff, 259px 412px #fff,
		1062px 1287px #fff, 238px 1543px #fff, 875px 1992px #fff, 163px 1345px #fff,
		464px 397px #fff, 976px 701px #fff, 836px 704px #fff, 1260px 1398px #fff, 761px 1976px #fff,
		1001px 367px #fff, 419px 286px #fff, 24px 1190px #fff, 939px 1516px #fff, 74px 1335px #fff,
		1085px 1544px #fff, 1912px 1057px #fff, 554px 1205px #fff, 1488px 1427px #fff,
		698px 1743px #fff, 971px 1767px #fff, 827px 1098px #fff, 1465px 293px #fff, 939px 738px #fff,
		897px 1649px #fff, 455px 854px #fff, 886px 1561px #fff, 416px 533px #fff, 305px 654px #fff,
		1255px 566px #fff, 1104px 1025px #fff, 415px 482px #fff, 1307px 1073px #fff,
		1162px 399px #fff, 446px 1084px #fff, 63px 1047px #fff, 1776px 325px #fff, 1354px 218px #fff,
		1977px 1365px #fff, 378px 1280px #fff, 1026px 375px #fff, 285px 343px #fff,
		1194px 1377px #fff, 145px 1021px #fff, 1025px 1403px #fff, 1768px 1611px #fff,
		369px 1003px #fff, 22px 802px #fff, 85px 1494px #fff, 1309px 290px #fff, 402px 1350px #fff,
		1271px 569px #fff, 9px 650px #fff, 742px 1038px #fff, 88px 1496px #fff, 823px 1333px #fff,
		1315px 1807px #fff, 1434px 110px #fff, 491px 124px #fff, 850px 1779px #fff, 885px 743px #fff,
		738px 1670px #fff, 1375px 1152px #fff, 55px 189px #fff, 1254px 1348px #fff,
		1954px 1186px #fff, 990px 1642px #fff, 995px 696px #fff, 468px 19px #fff, 222px 270px #fff,
		1850px 19px #fff, 1965px 1951px #fff, 40px 1561px #fff, 1689px 322px #fff,
		1366px 1862px #fff, 546px 774px #fff, 1981px 223px #fff, 699px 1727px #fff, 546px 379px #fff,
		1649px 1297px #fff, 1014px 207px #fff, 1393px 1614px #fff, 248px 1978px #fff,
		1661px 15px #fff, 312px 1283px #fff, 1244px 1800px #fff, 1992px 1168px #fff,
		669px 422px #fff, 660px 955px #fff, 425px 1797px #fff, 887px 881px #fff, 1430px 769px #fff,
		655px 1296px #fff, 1460px 61px #fff, 811px 676px #fff, 564px 303px #fff, 256px 1341px #fff,
		478px 455px #fff, 1062px 1117px #fff, 401px 58px #fff, 386px 82px #fff, 353px 1642px #fff,
		1340px 1533px #fff, 1561px 1721px #fff, 1537px 959px #fff, 557px 24px #fff, 579px 841px #fff,
		533px 1336px #fff, 35px 36px #fff, 1135px 140px #fff, 997px 1044px #fff, 1277px 846px #fff,
		674px 143px #fff, 1584px 1770px #fff, 1600px 1169px #fff, 687px 332px #fff, 122px 660px #fff,
		1076px 1502px #fff, 292px 1654px #fff, 119px 265px #fff, 1906px 49px #fff, 890px 1501px #fff,
		374px 1986px #fff, 70px 528px #fff, 909px 196px #fff, 1532px 1606px #fff, 132px 1389px #fff,
		1196px 88px #fff, 534px 701px #fff, 982px 821px #fff, 1769px 216px #fff, 39px 1244px #fff,
		835px 558px #fff, 1102px 1049px #fff, 1107px 1216px #fff, 616px 1810px #fff,
		584px 1680px #fff, 1263px 1054px #fff, 687px 271px #fff, 392px 855px #fff, 467px 858px #fff,
		1451px 351px #fff, 1134px 1833px #fff, 1055px 1945px #fff, 1279px 1731px #fff,
		1138px 1421px #fff, 135px 715px #fff, 927px 1427px #fff, 437px 370px #fff, 631px 1760px #fff,
		1414px 487px #fff, 772px 372px #fff, 1398px 122px #fff, 1391px 247px #fff, 683px 1565px #fff,
		187px 1305px #fff, 1193px 394px #fff, 358px 1104px #fff, 1379px 1395px #fff,
		634px 783px #fff, 1352px 1787px #fff, 146px 725px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 687px 1021px #fff, 1607px 621px #fff, 1170px 793px #fff, 1877px 685px #fff,
		400px 337px #fff, 652px 786px #fff, 1545px 604px #fff, 1411px 353px #fff, 1706px 148px #fff,
		435px 640px #fff, 1389px 2000px #fff, 1051px 1454px #fff, 1159px 1289px #fff,
		683px 1732px #fff, 843px 181px #fff, 1496px 338px #fff, 307px 1189px #fff, 1816px 780px #fff,
		1980px 1509px #fff, 1485px 486px #fff, 1762px 578px #fff, 1527px 56px #fff,
		1217px 1472px #fff, 701px 1256px #fff, 1088px 1864px #fff, 872px 1761px #fff,
		1218px 49px #fff, 1608px 521px #fff, 990px 1248px #fff, 1997px 955px #fff, 1941px 747px #fff,
		1153px 984px #fff, 1700px 1242px #fff, 1201px 905px #fff, 314px 766px #fff, 348px 464px #fff,
		1911px 1227px #fff, 723px 191px #fff, 822px 629px #fff, 697px 1725px #fff, 1758px 226px #fff,
		1659px 1579px #fff, 63px 1943px #fff, 1434px 1407px #fff, 129px 1249px #fff,
		208px 678px #fff, 1203px 683px #fff, 1138px 47px #fff, 382px 1896px #fff, 749px 1370px #fff,
		1577px 1373px #fff, 1915px 709px #fff, 667px 1863px #fff, 363px 28px #fff, 1531px 894px #fff,
		668px 1195px #fff, 1360px 1582px #fff, 1873px 1220px #fff, 819px 1791px #fff,
		1590px 1415px #fff, 1356px 1838px #fff, 206px 1271px #fff, 267px 1897px #fff,
		1150px 594px #fff, 1571px 337px #fff, 680px 1036px #fff, 1626px 1303px #fff,
		1226px 473px #fff, 1136px 1630px #fff, 572px 656px #fff, 1485px 1576px #fff,
		606px 1622px #fff, 1106px 1070px #fff, 1636px 375px #fff, 188px 1804px #fff,
		1623px 847px #fff, 1686px 1333px #fff, 1052px 869px #fff, 675px 1491px #fff,
		1704px 1060px #fff, 903px 500px #fff, 1953px 1px #fff, 1357px 1385px #fff, 415px 894px #fff,
		1320px 1909px #fff, 1175px 295px #fff, 193px 602px #fff, 807px 773px #fff, 377px 1908px #fff,
		854px 1854px #fff, 1179px 878px #fff, 1474px 644px #fff, 253px 1969px #fff,
		1927px 1722px #fff, 1347px 673px #fff, 1388px 1826px #fff, 727px 1020px #fff,
		710px 1290px #fff, 1255px 239px #fff, 638px 57px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 687px 1021px #fff, 1607px 621px #fff, 1170px 793px #fff, 1877px 685px #fff,
		400px 337px #fff, 652px 786px #fff, 1545px 604px #fff, 1411px 353px #fff, 1706px 148px #fff,
		435px 640px #fff, 1389px 2000px #fff, 1051px 1454px #fff, 1159px 1289px #fff,
		683px 1732px #fff, 843px 181px #fff, 1496px 338px #fff, 307px 1189px #fff, 1816px 780px #fff,
		1980px 1509px #fff, 1485px 486px #fff, 1762px 578px #fff, 1527px 56px #fff,
		1217px 1472px #fff, 701px 1256px #fff, 1088px 1864px #fff, 872px 1761px #fff,
		1218px 49px #fff, 1608px 521px #fff, 990px 1248px #fff, 1997px 955px #fff, 1941px 747px #fff,
		1153px 984px #fff, 1700px 1242px #fff, 1201px 905px #fff, 314px 766px #fff, 348px 464px #fff,
		1911px 1227px #fff, 723px 191px #fff, 822px 629px #fff, 697px 1725px #fff, 1758px 226px #fff,
		1659px 1579px #fff, 63px 1943px #fff, 1434px 1407px #fff, 129px 1249px #fff,
		208px 678px #fff, 1203px 683px #fff, 1138px 47px #fff, 382px 1896px #fff, 749px 1370px #fff,
		1577px 1373px #fff, 1915px 709px #fff, 667px 1863px #fff, 363px 28px #fff, 1531px 894px #fff,
		668px 1195px #fff, 1360px 1582px #fff, 1873px 1220px #fff, 819px 1791px #fff,
		1590px 1415px #fff, 1356px 1838px #fff, 206px 1271px #fff, 267px 1897px #fff,
		1150px 594px #fff, 1571px 337px #fff, 680px 1036px #fff, 1626px 1303px #fff,
		1226px 473px #fff, 1136px 1630px #fff, 572px 656px #fff, 1485px 1576px #fff,
		606px 1622px #fff, 1106px 1070px #fff, 1636px 375px #fff, 188px 1804px #fff,
		1623px 847px #fff, 1686px 1333px #fff, 1052px 869px #fff, 675px 1491px #fff,
		1704px 1060px #fff, 903px 500px #fff, 1953px 1px #fff, 1357px 1385px #fff, 415px 894px #fff,
		1320px 1909px #fff, 1175px 295px #fff, 193px 602px #fff, 807px 773px #fff, 377px 1908px #fff,
		854px 1854px #fff, 1179px 878px #fff, 1474px 644px #fff, 253px 1969px #fff,
		1927px 1722px #fff, 1347px 673px #fff, 1388px 1826px #fff, 727px 1020px #fff,
		710px 1290px #fff, 1255px 239px #fff, 638px 57px #fff;
}

#title {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: -60px;
	padding-left: 10px;
}
#title span {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
